.txt{
    font-size: large;
    font-family: Tahoma;
    cursor: pointer;
    transition-duration: 0.5s;
}

.txt:hover{
    font-size: x-large;
    transition-duration: 0.5s;
    cursor: pointer;
    font-family: Arial;
}