.txt{
    font-size: large;
    font-family: Tahoma;
    cursor: pointer;
    transition-duration: 0.5s;
}

.txt:hover{
    font-size: x-large;
    transition-duration: 0.5s;
    cursor: pointer;
    font-family: Arial;
}

.header-button {
    background-color: rgb(59, 57, 57);
    height: 40px;
    width: auto;
    color: white;
    border: none;
    transition-duration: 0.5s;
}

.header-button:hover{
    background-color: aqua;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    transition-duration: 0.5s;
}

.downloadButton{
    height: auto;
    width: auto;
    background-color: rgb(6, 59, 94);
    color: white;
    font-size: medium;
    cursor: pointer;
    border: none;
    font-family: serif;
    transition-duration: 0.5s;
}

.downloadButton:hover{
    background-color: rgb(11, 79, 156);
    border-radius: 7px;
    transition-duration: 0.5s;

}